**/bin/
**/obj/
**/node_modules/
**/build/
**/wwwroot/
**/.idea/
**/.vs/
.env
.env.*
!.env.example
**/PublicationLog/
**/LogErorrs/
*.log
*.user
*.suo
/demos/dashboard-demo.mp4
*.restoring
/docs/slides/research-dashboard-presentation.pptx
